<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App: groups</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
    <style>
        .Bd {
            border: solid 1px black;
        }
        .BdC\(red\){
            border-color: red !important;
        }
        .C\(red\){
            color: red;
        }
        .M\(0\) {
            margin: 0;
        }
        .P\(0\) {
            padding: 0;
        }
        .P\(10\) {
            padding: 10px;
        }
    </style>
</head>
<body>
<main>
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h1 th:if="${message != null}" th:text="${message}"></h1>
    <!--/*@thymesVar id="groups" type="java.util.List<io.github.keeeper.learningspring.model.projection.GroupReadModel>"*/-->
    <dl th:each="group : ${groups}" class="Bd P(10)">
        <dt>
            <label>
                <input type="checkbox"/>
                <span th:text="${group.description}"></span>
                <small th:text="|(${group.deadline})|"></small>
            </label>
            <hr class="M(0)"/>
        </dt>
        <dd>
            <a th:href="@{/tasks.html(group=${group.id})}">
            <ul class="P(0)">
                <li th:each="task : ${group.tasks}"></li>
                <span th:unless="${task.done}" th:text="${task.description} (${task.deadline})"></span>
                <del th:if="${task.done}" th:text="${task.description} (${task.deadline})"></del>
            </ul>
            </a>
        </dd>
    </dl>
    <fieldset>
        <legend>Nowa grupa</legend>
        <!--/*@thymesVar id="group" type="io.github.keeeper.learningspring.model.projection.GroupWriteModel"*/-->
        <form action="#" method="post" th:action="@{/groups}" th:object="${group}">
            <p class="C(red)" th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
        <label>Opis
            <input type="text" th:field="*{description}" th:errorclass="'BdC(red)'"/>
            </label>
            <fieldset th:each="task, taskStat : *{tasks}">
                <legend th:text="|Zadanie ${taskStat.index + 1}|"></legend>
                <label>Opis
                    <input type="text" th:field="*{tasks[__${taskStat.index}__].description}" th:errorclass="'BdC(red)'">
                </label>
                <label>Deadline
                    <input type="datetime-local" th:field="*{tasks[__${taskStat.index}__].deadline}" th:errorclass="'BdC(red)'">
                </label>
            </fieldset>
        <div>
            <button type="submit" name="addTask">+</button>
        </div>
    </form>
    </fieldset>
        <p>
            <button type="submit">Dodaj</button>
            <button type=reset>Wyczyść</button>
        </p>
</main>

</body>
</html>